@model ZDL.Models.AppUser

@{
    ViewBag.Title = "Данные пользователя";
}

<div>
    <h3>Данные пользователя:</h3>
    <dl class="dl-horizontal">
        <dt>ID:</dt>
        <dd> @Html.DisplayFor(model => model.Id)</dd>
        <dt>Логин:</dt>
        <dd> @Html.DisplayFor(model => model.UserName)</dd>
        <dt>Фамилия:</dt>
        <dd> @Html.DisplayFor(model => model.SurName)</dd>
        <dt>Имя:</dt>
        <dd>@Html.DisplayFor(model => model.FirstName)</dd>
        <dt>Отчество:</dt>
        <dd>@Html.DisplayFor(model => model.Patronymic)</dd>
    </dl>
</div>
<h5>Список ролей пользователя</h5>
@if (ViewBag.RoleNames.Count == 0)
{
    <hr />
    <p>Нет ролей</p>
}

<table class="table">

    @foreach (var item in ViewBag.RoleNames)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться", "Index")
</p>



